.img1 { background-image: url("../../img/objects/stolbi/main.jpg"); }
.img2 { background-image: url("../../img/objects/stolbi/sub1.jpg") }
.img3 { background-image: url("../../img/objects/stolbi/sub2.jpg"); }
.img4 { background-image: url("../../img/objects/stolbi/sub3.jpg"); }