.img1 { background-image: url("../../img/objects/pechi/main.jpg"); }
.img2 { background-image: url("../../img/objects/pechi/sub1.jpg") }
.img3 { background-image: url("../../img/objects/pechi/sub2.jpg"); }
.img4 { background-image: url("../../img/objects/pechi/sub3.jpg"); }
.img5 { background-image: url("../../img/objects/pechi/sub4.jpg"); }
.img6 { background-image: url("../../img/objects/pechi/sub5.jpg"); }