.img1 { background-image: url("../../img/objects/печи/main.jpg"); }
.img2 { background-image: url("../../img/objects/печи/sub1.jpg") }
.img3 { background-image: url("../../img/objects/печи/sub2.jpg"); }
.img4 { background-image: url("../../img/objects/печи/sub3.jpg"); }
.img5 { background-image: url("../../img/objects/печи/sub4.jpg"); }
.img6 { background-image: url("../../img/objects/печи/sub5.jpg"); }