.img1 { background-image: url("../../img/objects/ledAndUgol/main.jpg"); }
.img2 { background-image: url("../../img/objects/ledAndUgol/sub1.jpg") }
.img3 { background-image: url("../../img/objects/ledAndUgol/sub2.jpg"); }
.img4 { background-image: url("../../img/objects/ledAndUgol/sub3.jpg"); }