.img1 { background-image: url("../../img/objects/печи/object_image_N_1.jpg"); }
.img2 { background-image: url("../../img/objects/печи/object_image_N_2.jpg") }
.img3 { background-image: url("../../img/objects/печи/object_image_N_3.jpg"); }
.img4 { background-image: url("../../img/objects/печи/object_image_N_4.jpg"); }
.img5 { background-image: url("../../img/objects/печи/object_image_N_5.jpg"); }
.img6 { background-image: url("../../img/objects/печи/object_image_N_6.jpg"); }