.img1 { background-image: url("../../img/objects/столбы/main.jpg"); }
.img2 { background-image: url("../../img/objects/столбы/sub1.jpg") }
.img3 { background-image: url("../../img/objects/столбы/sub2.jpg"); }
.img4 { background-image: url("../../img/objects/столбы/sub3.jpg"); }