body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: 1;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

nav {
    flex-shrink: 0;
    width: 200px;
    background-color: #333;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

main {
    flex-grow: 1;
    padding: 20px;
    background-color: #f5f5f5;

}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

textarea {
    width: 100%;
    min-height: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}


.image-upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.image-upload {
    position: relative;
    width: 250px; /* Увеличиваем размер */
    border: 1px solid #ddd;
    margin-bottom: 50px; /* отступ снизу, чтобы элементы не слипались */
}

/* добавлено: стиль для параграфа в .image-upload */
.image-upload p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
}

.preview-image {
    width: 100%;
    height: 100%;
}

.image-input {
    display: none;
}

.add-image, .delete-image {
    position: absolute;
    background-color: #f00;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.add-image {
    bottom: 0;
    right: 0;
}

.delete-image {
    top: 0;
    right: 0;
}

.additional-images-wrapper {
    margin-top: 20px;
}

.additional-image-preview {
    position: relative;
    width: 200px;  /* Уменьшаем размер превью */
    margin-right: 10px;
    display: inline-block;
}

.add-additional-image {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
}
