#nameCompany{
    justify-content: center;
    font-family: 'UF1', serif;
    font-size: 40px;
    letter-spacing: -2px;
    color: #ecd37f;
    text-shadow: 2px 0 2px black;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
}
#hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100; /* чтобы меню было поверх остальных элементов */
}

#hamburger a {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
}

#hamburger a div {
    background-color: #ffffff; /* цвет черточек */
    height: 4px;
    width: 100%;
    position: absolute;
}

#hamburger a div:nth-child(1) { top: 0; }
#hamburger a div:nth-child(2) { top: 8px; }
#hamburger a div:nth-child(3) { top: 16px; }