.middle {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.contacts, .contact_form {
    width: 40%;
}

.contact_form {
    margin-top: 6%; /* Здесь можно указать любое значение отступа, которое вам подходит */
}


.logo {
    border: 2px solid white;
    border-radius: 10px;
    width: 75px;
    height: 75px;
    background: url('../img/logo/logo.png') no-repeat;
    background-size: contain;
}

.main-text {
    margin-top: 25px;
    text-align: justify;
    font-size: 20px;
}

.social_network {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 20px;
}

.social_network a img {
    width: 40px; /* Здесь можно изменить размер иконок */
    height: 40px;
}

.contact_form input, .contact_form textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000; /* Цвет линии */
    background-color: transparent; /* Прозрачный фон */
    margin-bottom: 15px;
    padding: 10px 0;
    outline: none; /* Убрать обводку при фокусе */
    font-size: 16px;
}
.contact_form select {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000; /* Цвет линии */
    background-color: transparent; /* Прозрачный фон */
    margin-bottom: 15px;
    padding: 10px 0;
    outline: none; /* Убрать обводку при фокусе */
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact_form textarea{
    height: 100px;
    resize: vertical;
    min-height: 50px; /* Минимальная высота */
    max-height: 200px; /* Максимальная высота */
}

.contact_form input[type="submit"] {
    display: inline-block;
    cursor: pointer; /* Курсор-указатель при наведении */
    border: 2px solid black; /* Убрать нижнюю границу для кнопки */
    padding: 10px;
    background: transparent; /* делаем фон кнопки прозрачным */

}

.select-wrapper {
    display: flex;
    align-items: center; /* Вертикальное выравнивание содержимого по центру */
    justify-content: left; /* Распределение свободного пространства между элементами */
    gap: 20px; /* Расстояние между label и select */
}

.select-wrapper label {
    margin: 0; /* Убрать отступы у label, если они есть */
    font-size: 18px; /* Размер шрифта, можно изменить по вашему усмотрению */
}

.select-wrapper select {
    width: 70%; /* Указываем ширину выпадающего списка */
    border: none;
    border-bottom: 2px solid #000; /* Цвет линии */
    background-color: transparent; /* Прозрачный фон */
    padding: 10px 0;
    outline: none; /* Убрать обводку при фокусе */
    font-size: 16px;
}

.error {
    color: red;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}


