
body {
    background-color: #ecd37f;
}

.menu-container {
    font-family: 'UF1', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: #6B4423;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Высота контейнера, например, 100% видимой высоты */
}

.menu-item {
    margin-bottom: 30px; /* Вертикальный отступ между пунктами меню */
}