.middle {
    width: 70%;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);

}

.main-text {
    text-align: justify;
    font-size: 18px;
}

.social_network {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 20px;
    border: 2px solid #000;
    background-color: #fff;
    cursor: pointer;
}

.contact-button {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 20px;
    border: 2px solid #000;
    background-color: #fff;
    cursor: pointer;
}