#nameCompany{
    border: 2px solid rgba(236, 211, 127, 0.5);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(236, 211, 127, 0.5);
    justify-content: center;
    font-family: 'UF1', serif;
    font-size: 35px;
    color: rgb(107, 68, 35);
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
}

#fullLogoCompany{
    position: fixed;
    top: 20px;
    width: 500px;
    height: 500px;
    background-size: contain;
    background: url("../img/logo/logo_brown_text.svg") no-repeat;
    justify-content: center;
}
#hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100; /* чтобы меню было поверх остальных элементов */
}

#hamburger a {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
}

#hamburger a div {
    background-color: #ffffff; /* цвет черточек */
    border: 1px solid black;
    height: 4px;
    width: 100%;
    position: absolute;
}

#hamburger a div:nth-child(1) { top: 0; }
#hamburger a div:nth-child(2) { top: 8px; }
#hamburger a div:nth-child(3) { top: 16px; }

#infoButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

#infoBox {
    position: fixed;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(236, 211, 127, 0.8);
    color: rgb(107, 68, 35);
    padding: 20px;
    width: 70%;
    height: auto;
    text-align: left;
    z-index: 1000;
    border-radius: 5px;
}
