/* Images used */
.img1 { background-image: url("../img/main_object/1_Печерск_Главная.JPG"); }
.img2 { background-image: url("../img/main_object/Домашний_оазис_main.JPG") }
.img3 { background-image: url("../img/main_object/Приют_поколений.JPG"); }
.img4 { background-image: url("../img/main_object/Столбы_main.jpg"); }
.img5 { background-image: url("../img/main_object/Урбанистический_замок_main.jpg"); }
.img6 { background-image: url("../img/main_object/Эстетическая_крепость_main.jpg"); }
.img7 { background-image: url("../img/main_object/Печи_main.jpg"); }

p.mainParagraph {
    color: #ecd37f;
    font-weight: bold;
    text-align: center;
}

p.mainParagraph {
    font-size: 40px;
    color: #e85a4f;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.paragraph-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 25px;
    background-color: rgba(234, 231, 220, 0.80);
    border: 1px solid  rgba(234, 231, 220, 0.80);
    border-radius: 15px;
    width: auto;
}

.paragraph-wrapper:hover {
    transition-duration: 500ms;
    background-color: rgba(234, 231, 220, 1);
    border: 1px solid  rgba(234, 231, 220, 1);
}


p:not(.mainParagraph) {
    color: #e85a4f;
    font-size: 23px;
    margin: 0;
    text-align: left;
    text-decoration: underline;
}





